<main class="p-contents">
    <div class="p-contents__inner">
      <h3 class="p-content__title">企業理念</h3>
      <div class="p-content__normal-text">
        <%- include('../component/_c-normal-text',{text:'説明が入ります。説明が入ります。説明が入ります。説明が入ります。 説明が入ります。説明が入ります。説明が入ります。説明が入ります'}) %>
      </div>
      <div class="p-content__medias">
        <!-- media1 -->
        <div class="p-content__media">
          <div class="p-content__media-img">
            <img
              src="../images/content/content2.jpg"
              alt="企業理念1"
            />
          </div>
          <div class="p-content__media-body">
            <h3 class="p-content__media-title">企業理念１</h3>
            <div class="p-content__media-text">
              <%- include('../component/_c-normal-text',{text:'テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。'}) %>
            </div>
          </div>
        </div>
        <!-- media2 -->
        <div class="p-content__media">
          <div class="p-content__media-img">
            <img
              src="../images/content/content3.jpg"
              alt="企業理念1"
            />
          </div>
          <div class="p-content__media-body">
            <h3 class="p-content__media-title">企業理念２</h3>
            <div class="p-content__media-text">
              <%- include('../component/_c-normal-text',{text:'テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。'}) %>
            </div>
          </div>
        </div>
        <!-- media3 -->
        <div class="p-content__media">
          <div class="p-content__media-img">
            <img
              src="../images/content/content4.jpg"
              alt="企業理念1"
            />
          </div>
          <div class="p-content__media-body">
            <h3 class="p-content__media-title">企業理念３</h3>
            <div class="p-content__media-text">
              <%- include('../component/_c-normal-text',{text:'テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。'}) %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%-include('../component/_c-to-top') %>
  </main>