<div class="p-lower-mv--test js-mv">
        <picture class="p-lower-mv__img-wrapper">
            <source media="(min-width: 768px)" srcset="../images/<%= page %>/<%= page %>-mv.jpg" />
            <img src="../images/<%= page %>/<%= page %>-mv-sp.jpg" alt="">
        </picture>
    <h1 class="p-lower-mv__title--test"><%= text %></h1>
</div>