<div class="p-top-overview">
  <div class="p-top-overview__line"><%- include('../component/_c-line') %></div>

  <div class="p-top-overview__inner l-inner">
    <div class="p-top-overview__title">
      <%- include('../component/_c-section-header__title',{text:'会社概要'}) %>
      <div
        class="p-top-section-title__block p-top-section-title__block--top-overview"
      >
        <%-
        include('../component/_c-section-header__sub-title',{text:'overview'})
        %>
      </div>
    </div>
    <div class="p-top-overview__block">
      <div class="p-top-overview__container">
        <div class="p-top-overview__img">
          <img src="../../images/overview/overview1.jpg" alt="企業概要" />
        </div>
        <div class="p-top-overview__wrapper">
          <div class="p-top-overview-bottom__inner">
            <h3 class="small-title p-top-overview__small-title">
              メインタイトルが入ります。
            </h3>
            <div class="p-top-overview__text normal-text">
              <%-
              include('../component/_c-normal-text',{normal_text_modifier:"",text:'テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。'})
              %>
            </div>
            <div class="p-top-overview__btn">
              <%- include('../component/_c-btn',{text:'詳しく見る', link:'#',
              backcolor:'black'}) %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
