<% 
var worksitems = [
{ src:"images/works/works1.jpg" , alt:"制作実績",
title:"CodeUps株式会社", link:"works-detail.html" , cate:"カテゴリー"}, 
{ src:"images/works/works2.jpg" , alt:"制作実績",
title:"CodeUps株式会社", link:"works-detail.html" , cate:"カテゴリー"}, 
{ src:"images/works/works3.jpg" , alt:"制作実績", title:"CodeUps株式会社",
link:"works-detail.html", cate:"カテゴリー"}, 
{ src:"images/works/works4.jpg" ,
alt:"制作実績", title:"CodeUps株式会社", link:"works-detail.html", cate:"カテゴリー"}, 
{ src:"images/works/works5.jpg" , alt:"制作実績", title:"CodeUps株式会社",
link:"works-detail.html", cate:"カテゴリー"}, 
{ src:"images/works/works6.jpg" ,
alt:"制作実績", title:"CodeUps株式会社", link:"works-detail.html",cate:"カテゴリー" }, 
] %>

<main class="p-works">
  <div class="l-inner">
    <div class="p-works__tab"><%- include('../component/_c-tab') %></div>

    <ul class="p-works__items">
      <% for (var worksitem of worksitems) { %>

      <li class="p-works__item">
        <div class="p-works__category">
          <a><%= worksitem.cate %></a>
        </div>
        <div class="p-works__img">
          <img src="<%= worksitem.src %>" alt="<%= worksitem.alt %>" />
        </div>
        <div class="p-works__body">
          <h3 class="p-works__title"><%= worksitem.title %></h3>
        </div>
      </li>
      <% } %>
    </ul>

    <div class="l-pager"><%- include('../component/_c-pager') %></div>
  </div>
  <%-include('../component/_c-to-top') %>
</main>
