<article class="p-works-detail">
    <div class="p-works-detail__inner">
        <div class="p-works-detail__head">
            <%- include('../project/_p-detail-head',{text: '〇〇株式会社　様制作実績'}) %>
        </div>
    </div>

    <div class="p-works-detail__gallery js-mv u-mobile">
        <div class="swiper p-works-detail__slider js-works-detail-slide">
            <div class="swiper-wrapper">
                <% for (var i=0; i < 8; i++) { %>
                <div class="swiper-slide p-works-detail__slide">
                    <img src="//into-the-program.com/demo/images/sample00<%= i + 1 %>.jpg" alt="">
                </div>
                <% } %>
            </div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>

        <div class="swiper p-works-detail__thumbnails js-works-detail-thumbnail">
            <div class="swiper-wrapper">
                <% for (var i=0; i < 8; i++) { %>
                <div class="swiper-slide p-works-detail__slide-thumbnail">
                    <img src="//into-the-program.com/demo/images/sample00<%= i + 1 %>.jpg" alt="">
                </div>
                <% } %>
            </div>
        </div>
    </div>

    <div class="p-works-detail__gallery u-desktop">
        <div class="swiper p-works-detail__slider js-works-detail-slide-pc">
            <div class="swiper-wrapper">
                <% for (var i=0; i < 8; i++) { %>
                <div class="swiper-slide p-works-detail__slide"><img src="//into-the-program.com/demo/images/sample00<%= i + 1 %>.jpg" alt=""></div>
                <% } %>
            </div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>

        <div class="swiper p-works-detail__thumbnails js-works-detail-thumbnail-pc">
            <div class="swiper-wrapper">
                <% for (var i=0; i < 8; i++) { %>
                <div class="swiper-slide p-works-detail__slide-thumbnail">
                    <img src="//into-the-program.com/demo/images/sample00<%= i + 1 %>.jpg" alt="">
                </div>
                <% } %>
            </div>
        </div>
    </div>
    <div class="p-works-detail__comment">
        <div class="p-works-detail__comment-inner">
            <div class="p-works-detail__comment-block">
                <%- include('../project/_p-works-detail-comment-block') %>
            </div>
            <div class="wp-pagenavi">
                <a class="previouspostslink" rel="prev" href="#">prev</a>
                <a class="page larger" title="制作実績一覧へ" href="works.html">一覧</a>
                <a class="nextpostslink" rel="next" href="#">next</a>
            </div>
        </div>
    </div>
    <div class="p-works-detail__cards">
        <div class="l-inner">
            <%- include('../project/_p-connection-blog') %>
        </div>
    </div>
</article>