<!DOCTYPE html>
<html lang="ja">
    <%- include('./common/_head', {pageTitle: 'CodeUpsチーム開発：お問い合わせ完了'}) %>
    <body>
        <%- include('./common/_p-header') %>
        <section class="l-contact-complete js-mv">
            <%- include('./project/_p-contact-complete') %>
        </section>
        <%-include('./component/_c-to-top') %>
        <%- include('./common/_p-footer') %>
    </body>
</html>