<!DOCTYPE html>
<html lang="ja">
  <%- include('./common/_head') %>
  <body>
    <%- include('./common/_p-header') %>
    <section class="p-lower-mv--content">
      <%- include('./project/_p-lower-mv',{text:'事業概要'}) %>
    </section>
    <div class="l-breadcrumb">
      <%- include('./component/_c-breadcrumb',{page_title:'事業概要'}) %>
    </div>

    <main class="p-contents">
      <div class="p-contents__inner">
        <h3 class="p-content__title">企業理念</h3>
        <div class="p-content__normal-text">
          <%- include('./component/_c-normal-text',{text:'説明が入ります。説明が入ります。説明が入ります。説明が入ります。 説明が入ります。説明が入ります。説明が入ります。説明が入ります'}) %>
        </div>
        <div class="p-content__medias">
          <!-- media1 -->
          <div class="p-content__media">
            <div class="p-content__media-img">
              <img
                src="../images/content/content2.jpg"
                alt="企業理念1"
              />
            </div>
            <div class="p-content__media-body">
              <h3 class="p-content__media-title">企業理念１</h3>
              <div class="p-content__media-text">
                <%- include('./component/_c-normal-text',{text:'テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。'}) %>
              </div>
            </div>
          </div>
          <!-- media2 -->
          <div class="p-content__media">
            <div class="p-content__media-img">
              <img
                src="../images/content/content3.jpg"
                alt="企業理念1"
              />
            </div>
            <div class="p-content__media-body">
              <h3 class="p-content__media-title">企業理念２</h3>
              <div class="p-content__media-text">
                <%- include('./component/_c-normal-text',{text:'テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。'}) %>
              </div>
            </div>
          </div>
          <!-- media3 -->
          <div class="p-content__media">
            <div class="p-content__media-img">
              <img
                src="../images/content/content4.jpg"
                alt="企業理念1"
              />
            </div>
            <div class="p-content__media-body">
              <h3 class="p-content__media-title">企業理念３</h3>
              <div class="p-content__media-text">
                <%- include('./component/_c-normal-text',{text:'テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。'}) %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <%-include('./component/_c-to-top') %>
    </main>

    <section class="l-contact p-contact">
      <%- include('./project/_p-contact') %>
    </section>
    <%-include('./component/_c-to-top') %> <%- include('./common/_p-footer') %>
  </body>
</html>
