<!DOCTYPE html>
<html lang="ja">
  <%- include('./common/_head', {pageTitle: 'CodeUpsチーム開発'}) %>
  <body>
    <div class="u-overflow">
    <%- include('./common/_p-header') %>
    <%- include('./project/_p-top-mv') %>
    <div class="l-top-news"><%- include('./project/_p-top-news') %></div>
    <section class="l-top-content">
      <%- include('./project/_p-top-content') %>
    </section>
    <section class="l-top-works">
      <%- include('./project/_p-top-works') %>
    </section>
    <section class="l-top-overview">
      <%- include('./project/_p-top-overview') %>
    </section>
    <section class="l-top-blog">
      <%- include('./project/_p-top-blog') %>
    </section>
    <section class="l-top-contact">
      <%- include('./project/_p-top-contact') %>
    </section>
    <%- include('./component/_c-to-top') %> 
    <%- include('./common/_p-footer') %>
   </div>
  </body>
</html>
