<!DOCTYPE html>
<html lang="ja">
  <%- include('./common/_head') %>
  <body>
    <%- include('./common/_p-header') %> <%- include('./project/_p-top-mv') %>
    <div class="l-top-news"><%- include('./project/_p-top-news') %></div>
    <section class="l-top-content">
      <%- include('./project/_p-top-content') %>
    </section>

    <section class="l-top-contact p-contact">
      <%- include('./project/_p-contact') %>
    </section>
    <%-include('./component/_c-to-top') %> <%- include('./common/_p-footer') %>
  </body>
</html>
