<!DOCTYPE html>
<html lang="ja">
<%- include('./common/_head') %>
  <body>
    <%- include('./common/_p-header') %>
      <%- include('./component/_c-btn',{text:'詳しく見る', link:'#'}) %>
      <%- include('./component/_c-new-label') %>
      <%- include('./component/_c-section-header__title',{text:'事業内容'}) %>
      <%- include('./component/_c-section-header__sub-title',{text:'content'}) %>
      <%- include('./component/_c-to-top') %>
    <%- include('./common/_p-footer') %>
    

<!-- 
    <% for (var i=0; i < 4; i++) { %>
      <%- include('./component/_c-btn',{text:'これはテストです', link:'#'}) %>
      <% } %> -->


  </body>
</html>
