<!DOCTYPE html>
<html lang="ja">
  <%- include('./common/_head', {pageTitle: 'CodeUpsチーム開発：お知らせ'}) %>
  <body>
    <%- include('./common/_p-header') %>
    <section class="p-lower-mv--news ">
      <%- include('./project/_p-lower-mv',{text:'お知らせ'}) %>
    </section>

    <div class="l-breadcrumb">
      <%- include('./component/_c-breadcrumb',{page_title:'お知らせ', posttitle:''
      }) %>
    </div>

    <main class="p-news">
      <div class="l-inner">
        <div class="p-news__list l-news-list">
          <%- include('./project/_p-news-list')%>
          <div class="l-pager">
            <%- include('./component/_c-pager') %>
          </div>
        </div>
      </div>
      <%-include('./component/_c-to-top') %>
    </main>
    <section class="l-top-contact">
      <%- include('./project/_p-top-contact') %>
    </section>
    <%- include('./common/_p-footer') %>
  </body>
</html>
