<!DOCTYPE html>
<html lang="ja">
<%- include('./common/_head') %>

<body>
    <!-- l-headerで囲む -->
    <%- include('./common/_p-header') %>


    <section class="l-contact p-contact">
        <%- include('./project/_p-contact') %>
    </section>

    <!-- l-footerで囲む -->
    <%-include('./component/_c-to-top') %> <%- include('./common/_p-footer') %>

</body>

</html>