<!DOCTYPE html>
<html lang="ja">
<%- include('./common/_head', {pageTitle: 'CodeUpsチーム開発：制作実績詳細'}) %>

<body>
    <!-- l-headerで囲む -->
    <div class="l-header">
        <%- include('./common/_p-header') %>
    </div>

    <section class="l-works-detail">
        <div class="p-works-detail">
            <div class="l-inner">
                <h1 class="p-works-detail__title">〇〇株式会社&emsp;制作実績</h1>
                <time datetime="2020-06-13">2020.06.13</time>

                <div class="p-works-detail__category">
                    <a href="" class="p-works-detail-category">カテゴリ1</a>
                </div>

                <!-- Slider全体のコンテナ -->
                <div class="swiper works-sub-swiper">
                    <!-- Sliderの内包コンテナ -->
                    <div class="swiper-wrapper">
                        <!-- Slideさせたいコンテンツ -->
                        <div class="swiper-slide"><img src="./images/works-detail/works-detail-1.jpg" alt=""></div>
                        <div class="swiper-slide"><img src="./images/works-detail/works-detail-2.jpg" alt=""></div>
                        <div class="swiper-slide"><img src="./images/works-detail/works-detail-3.jpg" alt=""></div>
                    </div>
                </div>

                <h2 class="p-works-detail__sub-title">制作のポイント</h2>
                <p class="p-works-detail__text">テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>
            </div>

        </div>

    </section>


    <section class="l-contact p-contact">
        <%- include('./project/_p-contact') %>
    </section>

    <!-- l-footerで囲む -->
    <div class="l-footer">
        <%-include('./component/_c-to-top') %> <%- include('./common/_p-footer') %>
    </div>

</body>

</html>