<!DOCTYPE html>
<html lang="ja">
<%- include('./common/_head', {pageTitle: 'CodeUpsチーム開発：制作実績詳細'}) %>

<body>
    <%- include('./common/_p-header') %>

    <section class="l-works-detail">
        <%- include('./project/_p-works-detail') %>
    </section>

    <section class="l-contact p-contact">
        <%- include('./project/_p-contact') %>
    </section>

    <%-include('./component/_c-to-top') %>
    <%- include('./common/_p-footer') %>
</body>

</html>